RAWG_API_KEY=buraya_rawg_api_keyini_yaz
MONGO_URI=buraya_mongodb_uri_yaz
JWT_SECRET=buraya_gizli_anahtar_yaz
PORT=5000
# Virgülle ayrılmış izinli origin listesi. Boş bırakılırsa tüm origin'lere izin verir (dev için)
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
